* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background: #efefef;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: #333;
    min-height: 80px;
    border-top: 4px solid #d7dcd7;
    border-bottom: 6px solid #ccd4cd;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#logo {
    width:60px;
    height: 50px;
}

header h1 {
    font-size: 2rem;
    text-align: center;
    color: #07e5fa;
    text-shadow: 4px 4px 8px rgb(202, 209, 204);
}
.menu .navbar ul li {
    position: relative;   
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #efefef;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #07e5fa;
    font-size: 20px;
    text-shadow: 0px 0px 15px rgb(75, 238, 80);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.contenido {
    width: 95%;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1.5rem;
}



section {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 0.25rem 0;
    height: 100%;
    max-width: 95%;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content:center;
}

.img-seccion{
    border-radius: 10px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin: 0 auto; 
}

#arriba {
    font-family: fantasy;    
    font-size: 20px;
    color: #c1121f;
}

#abajo {
    font-family: monospace;
    font-size: 20px;
    color:red;
}


section article {
    margin-top: 5px;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.8);
}

section article h2, section article p {
    margin: 1rem;
}

section article h2 {
    color: black;
    text-decoration: none;
}

section article h2:hover {
    color: blue;
}
section article a {
    text-align: center;
}



.contacto {
    width: 450px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px auto;
    line-height:30px;
    padding-left: 15px;
}

.formulario {
    padding-right: 15px;
}


/* Carrusel*/
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 350px;
    width: 500px;
    border-radius: 15px ;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
    
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 250px;
    height: 100px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-100px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
}
/* hasta aca el carrusel*/

.redes img{
    width: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 30%; */
}

.redes img:hover {
    box-shadow: 0 0 30px rgba(247, 245, 245, 0.85);
    transform: scale(1.2);
    transition: .4s ease;
}

footer {
    background-color: #393b3e;
    display: flex;
    float: right;
    justify-content:space-between;
    padding:2rem;
    color: white;
    width: 100%;
    min-height: 80px;
    border-top: 4px solid #d7dcd7;
    border-bottom: 6px solid #ccd4cd;
}

.footer {
    margin: 0;
    background-color: #393b3e;
   
    
}

footer h3 {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: cornflowerblue;
    transform: scale(1.5);
    transition: .4s ease;
}


@media(max-width:991px) {
    .content {
        min-height: 95px;
    }    

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #333;
        display: none;
        border-bottom: 6px solid #ccd4cd;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }


}